include kn_cosmo/kn_cosmo/data/best-fit-AT-2017-gfo.txt
include kn_cosmo/kn_cosmo/data/kasen_knova_d1_n10_m0.040_vk0.03_fd1.0_Xlan1e-4.0.h5
include kn_cosmo/kn_cosmo/tests/data/nph1.0e+06_mej0.01_phi15_T3.0e+03.txt
